body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  font-family: "Museo Sans Light";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  font-family: "Museo Sans Bold";
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
}

.navbar__button {
  background-color: #ffd200;
  border-radius: 10px;
  border: none;
  padding: 18px 30px;
  font-size: 13px;
  font-family: "Museo Sans Bold";
}

.header {
  padding: 50px 0;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 85px;
}

.header-text > h2 {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
}

.header-text > span {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 20px;
  display: inline-block;
  margin-bottom: 50px;
}

.header-list {
  margin: 0;
  padding: 0;
}

.header-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.header-list__item:last-child {
  margin-bottom: 0;
}

.header-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 30px;
}

.header-list__text {
  max-width: 300px;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
  .header-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-list {
    margin-bottom: 40px;
  }
  .header-text {
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    width: 95%;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .navbar-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .navbar-text-list__item {
    margin-bottom: 20px;
  }
  .navbar-text-list__text {
    font-size: 12px;
  }
  .navbar-text-list__image {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */