.background_1{
    background-color: #f9f9f9;
    height: 703px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
}
.container{
background-color: #f9f9f9;
width: 1400px;
height: 500px;
}
h1{
width: 552px;
height: 31px;
color: #000000;
font-family: "Proxima Nova";
font-size: 36px;
font-weight: 400;
}
.inside_box{
   display: flex; 
   justify-content: center;
}
.text_box{
margin-right: auto;
margin-left: auto;
width: 50%;
}
.price{
height: 15px;
color: #000000;
font-family: "Proxima Nova";
font-size: 18px;
font-weight: 700;
}
p{
height: 11px;
color: #000000;
font-family: "Proxima Nova";
font-size: 16px;
font-weight: 300;
}
.img_box{
    margin: 20px;
    width: 263px;
height: 210px;
background-color: #ffffff;
}
.btn_box{
    display: flex;
    justify-content: center;
}
.btn{
    /* btn  */
width: 200px;
height: 55px;
border: 1px solid #23bac1;
background-color: inherit;
/* text */
color: #23bac1;
font-family: "Proxima Nova";
font-size: 13px;
font-weight: 700;
text-transform: uppercase;
}
.text_box_1{
    display: flex;justify-content: center;
}
.text_box_2{
    display: flex;justify-content: center;
}