html,body{
 font-family: Arial;
 background-color: #f6f6f6;
}
/* Main Card Box */
.main_card_box{
 height: 100vh; 
 display: flex; 
 align-items: center; 
 justify-content: center;
}
/* Card Boxes */
.card_box{
 width: 1010px;
height: 503px;
border: 1px solid #d7d7d7;
background-color: #ffffff;
display: flex;
}
/* Img */
.img{
 display: flex;
 align-items: center; 
 justify-content: flex-start;
}
img{
width: 375px;
margin: 48px 64px;
}
/* Text / Prices */
/* Text */
.text_box{
width: 500px;
 height: 50px;
}
h2{
margin-top: 94px;
margin-right: 93px;
color: #2f2f2f;
font-family: "Arial - Bold MT";
font-size: 23px;
font-weight: 400;
}
p{
margin-top: 4px;
margin-right: 93px;
color: #2f2f2f;
font-family: "Arial MT";
font-size: 15px;
font-weight: 400;
}
/* Prices */
.prices_text{
 margin-top: 55px;
color: #2f2f2f;
font-family: "Arial MT";
font-size: 15px;
font-weight: 400;
}
.price{
color: #2f2f2f;
font-family: "Arial MT";
font-size: 30px;
font-weight: 400;
}
/* Button */
.btn{
 /* btn */
 margin-top: 30px;
 width: 252px;
 height: 50px;
 border: none;
 background-color: #ec744a;
 
 /* btn text */
color: #ffffff;
font-family: "Arial MT";
font-size: 19px;
font-weight: 400;

}