*
    box-sizing: border-box
img
    max-width: 100%
.container
    margin: auto
    width: 1170px
.header
    background-color: black
    background-image: url('../img/hero/bg-1.png')
    background-size: cover
.section
    padding: 90px 